<div class="sidebar">
    <div class="sidebar-header">
        <span id="SideHeaderText">Accounts</span>
    </div>
    <ul>
        <li>
            <a>
                <div class="sideHeaderdiv" (click)="gotoCalender()">
                    <img src="../../../assets/icons/20250307_213510.png" class="icons">
                    <span class="sidemenu">Calender</span>
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="sideHeaderdiv">
                    <img src="../../../assets/icons/20250307_214057.png" class="icons">
                    <span class="sidemenu">Make Appointment</span>
                </div>
            </a>
        </li>
    </ul>
</div>