.sidebar {
    padding: 15px;
  }
  
  .sidebar-header {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
  
  .logo {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .nav-link {
    color: white;
    padding: 10px;
  }
  
  .nav-link.active {
    background: rgb(31, 69, 151)
  }
  
  .nav-link i {
    margin-right: 10px;
  }
  ul {
    list-style-type: none;
  }
  .icons{
    width: 40px;
    height: 40px;
  }
  .sidemenu{
    padding-left: 13px;
    width: 100%;
    margin-top: 13px;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center; /* Align text and icon vertically */
    padding: 10px;
    gap: 10px; /* Add spacing between icon and text */
}

.sidebar li a {
    text-decoration: none;
    color: white;
    width: 100%;
}
.sideHeaderdiv{
    display: flex;
    cursor: pointer;
}